1.**Print number from 1 to 5 using a while loop.**

In [1]:
count = 1
while count <= 5:
 print(count)
 count += 1

1
2
3
4
5

2.**Calculate the sum of number from 1 to 10 using a while loop.**

In [2]:
num = 1

sum = 0

#while loop

while num<=10:

   sum += num

   num += 1

#print statement

print("Sum of numbers from 1 to 10 is ",sum)

Sum of numbers from 1 to 10 is  55

3.**Calculate the factorial of a number using a for loop.**

In [18]:
n = int (input ("Enter a number: "))
factorial = 1
if n >= 1:
    for i in range (1, n+1):
        factorial=factorial *i
print("Factorial of the given number is: ", factorial)

Enter a number: 10
Factorial of the given number is:  3628800

4.**Count the number of vowel in a string using a for loop.**

In [20]:
import re

string = "AnjaliBharti"
vowels = r'[aeiouAEIOU]'
count = len(re.findall(vowels, string))
print(count)

5

5.**Print a pattern using nested loop.**

In [17]:
rows = 6
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

**6.Generate a multiplication table using nested loop.**

In [19]:
num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120